/* Body */

body {
    background: #E8E8E8;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

#jqt {
    max-height: 1136px !important;
    max-width: 320px !important;
}

.view {
    background: url(/image/bg.jpg) no-repeat;
    background-size: 100% auto;
    max-height: 568px !important;
}

.scroll {
    margin-top: 44px;
}

.wrapper {
    background: url(/image/white-bg.jpg) repeat;
    width: 90%;
    margin: 20px 5%;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #AAA;
    height: auto;
}

/* Fonts */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

/* Spinner */

#spinner {
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	text-align: center;
	left: 0; top: 0;
	background: rgba(0,0,0,0.25);
	display: none;
}

#spinner-box {
	position: relative;
	top: 38%;
	z-index: 99999;
	background: rgba(0, 0, 0, 0.75);
	height: 100px;
	width: 100px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 15px;
	display: inline-block;
}

.spinner {
	position: relative;
	width: 75px;
	height: 75px;
	z-index: 999999;
	margin-top: 12.5px;
	display: inline-block;
}

.spin-bars {
	width: 12%;
	height: 26%;
	background: white;
	position: absolute;
	left: 44.5%;
	top: 37%;
	opacity: 0;
	-webkit-animation: fade 1s linear infinite;
	-webkit-border-radius: 50px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

/* Forms */

form {
    width: 90%;
    margin: auto 5%;
}

form input {
    color: #777;
    font-family: 'Open Sans';
    font-weight: 400;
    height: 32px;
    position: absolute;
    padding: 0 0 2px 0;
    font-size: 16px;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
}

form button {
    box-shadow: inset 0px 1px 0px 0px #BBDAF7;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79BBFF), color-stop(1, #378DE5) );
    background-color: #79BBFF;
    border-radius: 6px;
    border: 1px solid #84BBF3;
    display: inline-block;
    color: white;
    font-weight: 700;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 14px;
    height: 42px;
    padding: 8px 0;
    text-decoration: none;
    text-align: center;
    position: absolute;
}

textarea {
    font-family: 'Open Sans';
    font-weight: 400;
    margin-top: 58px;
    width: 95%;
    border-radius: 3px;
    font-size: 14px;
    color: #555;
    padding: 2%;
    border: 1px solid #888;
    margin: 20px 0 5px;
}

.message {
    font-family: 'Open Sans';
    font-size: 11px;
    position: absolute;
    line-height: 13px;
    text-align: center;
    color: #AAA;
}

/* Static Views */

.text {
    padding-bottom: 20px;
}

.text h2 {
    font-family: 'Open Sans';
    color: #555;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 5%;
    text-shadow: 1px 1px 1px #EEE;
}

.text p {
    font-family: 'Open Sans';
    color: #555;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    padding: 0 15px;
    text-shadow: 1px 1px 1px #EEE;
}

/* Navigation */

#navigation {
    background: url(/image/topbar.jpg) repeat-x;
    width: 100%;
    height: 44px;
    position: fixed;
    top: -44px;
    left: 0;
    z-index: 100000;
    max-width: 322px;
	-webkit-transition: all .25s linear;
}

.visible {
    top: 0 !important;
}

#navigation h1 {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-shadow: 1px 1px 1px black;
}

#navigation .navigation {
    background: none;
    position: absolute;
    width: 30px;
    left: 10px;
    right: auto;
    height: 25px;
    border: none;
    top: 10px;
}

#navigation .right {
    right: 10px;
    left: auto;
}

#navigation .back {
    background: url(/image/back-arrow.png) no-repeat;
    background-size: 82% auto;
}

#navigation .settings {
    background: url(/image/settings.png) no-repeat;
    background-size: 90% auto;
}

#navigation .x-arrow, #navigation .welcome {
    background: url(/image/x-arrow.png) no-repeat;
    background-size: 82% auto;
}

/* Bottom Bar */

.bottombar {
    position: fixed;
    bottom: 30px;
    right: -92px;
    z-index: 100000;
    height: 12px;
    width: 92px;
	-webkit-transition: all .25s linear;
}

.bottombar-visible {
    right: -19px;
}

.bottombar p {
    top: -100px;
    position: absolute;
    right: 100px;
}

.checkout-btn {
    box-shadow: 1px 1px 1px #598d11;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #8fc14b) );
    background-color: #b8e356;
    border-radius: 6px;
    border: 1px solid #8fc14b;
    display: inline-block;
    color: white;
    text-shadow: 1px 1px 1px #777;
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 13px;
    width: 75px;
    height: 16px;
    padding: 8px 0;
    text-decoration: none;
    position: absolute;
    text-align: center;
    font-weight: 700;
}

/* Welcome View */

#welcome .text {
    background: url(/image/welcome-text.png) no-repeat;
    background-size: 100% auto;
    height: 105px;
    width: 80%;
    margin: 0 10% 0;
    position: absolute;
    bottom: 60px;
}

#welcome .shade {
    background: url(/image/shade.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: -10px;
    background-size: 100% auto;
    z-index: -1;
}

#welcome .bar {
    background: url(/image/welcome-bar.jpg) no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 100%;
    height: 44px;
    bottom: 0;
}

#welcome .sign-in {
    background: url(/image/login-btn.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 60px;
    height: 32px;
    right: 85px;
    bottom: 5px;
    border: none;
}

#welcome .sign-up {
    background: url(/image/signup-btn.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 68px;
    height: 32px;
    right: 8px;
    bottom: 5px;
    border: none;
}

/* Sign Up View */

#sign-up .wrapper {
    height: 285px;
}

#sign-up .image {
    background: url(/image/sign-up-image.png) no-repeat;
    background-size: 100% auto;
    width: 22%;
    height: 75px;
    margin: 25px 0 0 2%;
    position: absolute;
}

#sign-up .message {
    margin-top: 230px;
    width: 45%;
    margin-left: 2%;
}

#sign-up .first-name {
    margin-left: 30%;
    margin-top: 20px;
    width: 50%;
}

#sign-up .last-name {
    margin-left: 30%;
    margin-top: 60px;
    width: 50%;
}

#sign-up .email {
    margin-left: 2%;
    margin-top: 140px;
    width: 78%;
}

#sign-up .pin {
    margin-left: 2%;
    margin-top: 180px;
    width: 78%;
}

#sign-up .phone {
    margin-left: 2%;
    margin-top: 100px;
    width: 78%;
}

#sign-up button {
    width: 28%;
    margin-top: 230px;
    margin-left: 166px;
}

/* Sign In View */


#sign-in .wrapper {
    height: 200px;
}

#sign-in .message {
    margin-top: 110px;
    width: 78%;
}

#sign-in .first-name {
    margin-left: 30%;
    margin-top: 20px;
    width: 50%;
}

#sign-up .last-name {
    margin-left: 30%;
    margin-top: 60px;
    width: 50%;
}

#sign-in .phone {
    margin-left: 2%;
    margin-top: 20px;
    width: 78%;
}

#sign-in .pin {
    margin-left: 2%;
    margin-top: 60px;
    width: 78%;
}

#sign-in button {
    width: 28%;
    margin-top: 149px;
    margin-left: 166px;
}

#sign-in .forgot-password {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    margin-top: 148px;
    margin-left: 2%;
    width: 44%;
    line-height: 24px;
    color: #777;
}

/* Save Card View */

#save-credit-card .card-brands {
    background: url(/image/card-brands.png) no-repeat;
    background-size: 100% auto;
    width: 70%;
    margin: 20px 10% 0;
    height: 36px;
    opacity: 0.4;
    position: absolute;
}

#save-credit-card .number {
    width: 50%;
    margin: 70px 0;
}

#save-credit-card .expiration {
    width: 25%;
    margin: 70px 0 0 55%;
}

#save-credit-card .powered {
    background: url(/image/stripe-power.png) no-repeat;
    background-size: 100% auto;
    width: 38%;
    height: 34px;
    position: absolute;
    opacity: .5;
    margin-top: 102px;
    margin-left: 41%;
    display: none;
}

#save-credit-card .ssl-text {
    font-size: 12px;
    color: green;
    text-align: center;
    width: 78%;
    opacity: .60;
    position: absolute;
    margin: 120px 5% 0;
    font-family: 'Open Sans';
}

#save-credit-card .ssl-icon {
    background: url(/image/ssl-lock.png) no-repeat;
    background-size: 100% auto;
    height: 18px;
    width: 17px;
    display: inline-block;
    margin-bottom: -4px;
    margin-right: 2px;
}

#save-credit-card button {
    position: relative;
    margin-top: 170px;
    width: 100%;
}

#save-credit-card .store-later {
    font-family: 'Open Sans';
    font-size: 15px;
    color: #378DE5;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    text-decoration: underline;
}

/* Venues View */

.venue {
    background: url(/image/white-bg.jpg) repeat;
    width: 90%;
    margin: 16px 5%;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #AAA;
    height: 50px;
    list-style-type: none;
}

.venue .image {
    background: url(/image/venue-thumb.jpg) no-repeat;
    width: 60px;
    height: 52px;
    border-radius: 2px;
    box-shadow: 2px 1px 1px #444;
    border: 5px solid white;
    position: absolute;
    margin-top: -7px;
}

.venue .title {
    font-family: 'Open Sans';
    color: #444;
    font-size: 19px;
    margin-left: 80px;
    font-weight: 700;
}

.venue .address {
    font-family: 'Open Sans';
    color: #777;
    font-size: 13px;
    margin-left: 80px;
}

.venue .arrow {
    background: url(/image/green-arrow.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 7%;
    margin-top: -28px;
    background-size: 100% auto;
}

/* Categories View */

.header {
    background: url(/image/venue-photo.jpg) no-repeat;
    background-size: 100% auto;
    margin-bottom: 15px;
    width: 100%;
    height: 155px;
}

#categories-2 .header {
    display: none;
}

.header .bar {
    width: 100%;
    height: 25px;
    background: black;
    opacity: 0.35;
    position: absolute;
    top: 130px;
}

.header .text {
    font-family: 'Open Sans';
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 134px;
    width: 100%;
    z-index: 10;
    text-shadow: 1px 1px 1px black;
}

.category {
    background: url(/image/white-bg.jpg) repeat;
    width: 90%;
    margin: 5px 5%;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #AAA;
    height: 48px;
    list-style-type: none;
}

.category .icon {
    background: url(/image/category-icons.png) no-repeat;
    background-size: 85% auto;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 7px;
    margin-left: 5px;
}

.category .icon.beer {
    background-position: 0 0;
}

.category .icon.wine {
    background-position: 0 -43px;
}

.category .icon.cocktails {
    background-position: 0 -82px;
}

.category .icon.shots {
    background-position: 0 -124px;
}

.category .icon.soft-drinks {
    background-position: 0 -165px;
}

.category .icon.food {
    background-position: 0 -202px;
}

.category .title {
    font-family: 'Open Sans';
    color: #444;
    font-size: 18px;
    margin-left: 38px;
    font-weight: 700;
    line-height: 48px;
    position: absolute;
}

.category .arrow {
    background: url(/image/green-arrow.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 7%;
    margin-top: 14px;
    background-size: 100% auto;
}

/* Products View */

.product {
    background: url(/image/white-bg.jpg) repeat;
    width: 90%;
    margin: 5px 5%;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #AAA;
    list-style-type: none;
    font-family: 'Open Sans';
    color: #444;
}

.product .title {
    font-weight: 700;
    line-height: 18px;
    font-size: 14px;
    padding: 5px 0 0 5%;
}

.product .price {
    line-height: 15px;
    font-size: 12px;
    padding: 0 10% 8px 5%;
    font-weight: 400;
    width: 85%;
}

.product .arrow {
    background: url(/image/green-arrow.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 7%;
    margin-top: 14px;
    background-size: 100% auto;
}

.product form {
    padding: 10px 3%;
    position: absolute;
    width: 75px;
    height: 25px;
    right: 0;
}

.product form .subtract {
    background: url(/image/counter-minus.png) no-repeat;
    background-size: 100% auto;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: 0;
    border: 1px solid #AAA;
    box-shadow: inset 0px 1px 0px 0px #EFEFEF;

}

.product form .value {
    background: none;
    color: #555;
    font-family: 'Open Sans';
    font-weight: 400;
    height: 13px;
    width: 13px;
    position: absolute;
    padding: 2px 7px 8px 7px;
    border: none;
    margin-left: 24px;
    font-size: 15px;
    text-align: center;
}

.product form .add  {
    background: url(/image/counter-plus.png) no-repeat;
    background-size: 100% auto;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: 50px;
    border: 1px solid #AAA;
    box-shadow: inset 0px 1px 0px 0px #EFEFEF;
}

/* Checkout View */



/* Success View */

#success .green {
    text-align: center;
    color: #009933;
    font-size: 27px;
}

/* Settings View */

#settings .wrapper {
    background: none;
    width: 100%;
    margin: 20px 0;
    box-shadow: none;
    border: none;
}

#settings ul li {
    background: url(/image/white-bg.jpg) repeat;
    width: 86%;
    margin: 2px 5%;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #EEE;
    list-style-type: none;
    font-family: 'Open Sans';
    color: #555;
    font-weight: 700;
    line-height: 32px;
    font-size: 17px;
    padding: 5px 0 5px 4%;
}

#settings ul li.gap {
    margin-bottom: 20px;
}

#settings ul li .arrow {
    background: url(/image/gray-arrow.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 7%;
    margin-top: 6px;
    background-size: 100% auto;
    opacity: .8;
}

/* Share View */

#share .link {
    color: #378DE5;
    text-align: center;
    font-size: 18px;
    padding: 13px;
    text-shadow: 1px 1px 1px #DDD;
}

#share button {
    width: 100%;
    margin: 10px 0 0;
    position: relative;
}

/* Feedback View */

#feedback button {
    width: 100%;
    margin: 10px 0 0;
    position: relative;
}




