<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Flowtab</title>
        <link type="text/css" rel="stylesheet" href="/stylesheet/jqtouch.css" />
        <link type="text/css" rel="stylesheet" href="/stylesheet/style.css" />
    </head>
    <body>
        <div id="spinner">
            <div id="spinner-box">
                <div class="spinner">
                    <div class="bar1 spin-bars"></div>
                    <div class="bar2 spin-bars"></div>
                    <div class="bar3 spin-bars"></div>
                    <div class="bar4 spin-bars"></div>
                    <div class="bar5 spin-bars"></div>
                    <div class="bar6 spin-bars"></div>
                    <div class="bar7 spin-bars"></div>
                    <div class="bar8 spin-bars"></div>
                    <div class="bar9 spin-bars"></div>
                    <div class="bar10 spin-bars"></div>
                    <div class="bar11 spin-bars"></div>
                    <div class="bar12 spin-bars"></div>
                </div>
            </div>
        </div>
        <div id="navigation">
            <button class="left navigation"></button>
            <h1 class="title"></h1>
            <button class="right navigation"></button>
        </div>
        <div id="alert">
            <span></span>
        </div>
        <div id="checkout-button">
            <span class="counter">
                <span class="value">0</span>
            </span>
            <button class="checkout">Checkout</button>
        </div>
        <div id="jqt" class="touchscroll">
            <div id="welcome" class="view">
                <div class="text"></div>
                <div class="shade"></div>
                <div class="bar"></div>
                <button class="log-in"></button>
                <button class="sign-up"></button>
            </div>
            <div id="sign-up" class="view">
                <div class="scroll">
                    <div class="wrapper">
                        <form>
                            <div class="image"></div>
                            <p class="message">Your cell number will only be used to send you order status notifications.</p>
                            <input name="first-name" class="first-name" placeholder="First name" />
                            <input name="last-name" class="last-name" placeholder="Last name" />
                            <input name="phone" type="tel" class="phone" placeholder="Cell number" maxlength="10" />
                            <input name="email" type="email" class="email" placeholder="Email address" />
                            <input name="pin" type="tel" class="pin" placeholder="Create 4-digit PIN" maxlength="4" />
                            <button type="submit">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="log-in" class="view">
                <div class="scroll">
                    <div class="wrapper">
                        <form>
                            <p class="message">To reset your PIN enter your cell number only and hit <em>Forgot Password</em>.</p>
                            <input name="phone" type="tel" class="phone" placeholder="Cell number" maxlength="10" />
                            <input name="pin" type="tel" class="pin" placeholder="Enter PIN" maxlength="4" />
                            <button type="submit">Log In</button>
                            <button class="forgot-password">Forgot Password</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="settings" class="view">
                <div class="scroll">
                    <ul class="wrapper">
                        <li class="cards">Saved Cards<span class="arrow"></span></li>
                        <li class="account gap">Account Settings<span class="arrow"></span></li>
                        <!-- <li class="share ">Share the Love<span class="arrow"></span></li> -->
                        <li class="how-it-works">How it Works<span class="arrow"></span></li>
                        <li class="security">Security Information<span class="arrow"></span></li>
                        <li class="feedback">Help &amp; Feedback<span class="arrow"></span></li>
                    </ul>
                </div>
            </div>
            <div id="account" class="view">
                <div class="scroll">
                    <div class="wrapper">
                        <form>
                            <div class="image"></div>
                            <p class="message">Your cell number will only be used to send you order status notifications.</p>
                            <input name="first-name" class="first-name" placeholder="First name" />
                            <input name="last-name" class="last-name" placeholder="Last name" />
                            <input name="phone" type="tel" class="phone" placeholder="Cell number" maxlength="10" />
                            <input name="email" type="email" class="email" placeholder="Email address" />
                            <input name="pin" type="tel" class="pin" placeholder="New 4-digit PIN" maxlength="4" />
                            <button type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="works" class="view">
                <div class="scroll">
                    <div class="wrapper text">
                        <h2>Laboris Nisi Aliquip</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <h2>Dignissimos Ducimus</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
            </div>
            <div id="security" class="view">
                <div class="scroll">
                    <div class="wrapper text">
                        <h2>Laboris Nisi Aliquip</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <h2>Dignissimos Ducimus</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
            </div>
            <div id="share" class="view">
                <div class="scroll">
                    <div class="wrapper text">
                        <h2>Laboris Nisi Aliquip</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="link">http://flwtb.co/4H8uiS</p>
                        <form>
                            <button>Copy to Clipboard</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="feedback" class="view">
                <div class="scroll">
                    <div class="wrapper text">
                        <h2>Laboris Nisi Aliquip</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <form>
                            <textarea placeholder="Don't be nice&hellip;" rows="3" autocomplete="off"></textarea>
                            <button type="submit">Send Feedback</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="confirmation" class="view">
                <button class="done">Done</button>
            </div>
            <div id="save-credit-card" class="view"></div>
            <div id="venues" class="view"></div>
            <div id="categories-1" class="view"></div>
            <div id="categories-2" class="view"></div>
            <div id="products" class="view"></div>
            <div id="product" class="view"></div>
            <div id="checkout" class="view"></div>
        </div>
        {% raw %}
        <script id="save-credit-card-template" type="text/html">
            <div class="scroll">
                <div class="wrapper">
                    <div class="card-brands"></div>
                    <div class="stored-card"></div>
                    <div class="ssl-text"><span class="ssl-icon"></span>Your connection to Flowtab is secured with a 128-bit encryption (AES-256).</div>
                    <div class="powered"></div>
                    <form>
                        <input type="tel" name="number" class="number" placeholder="Card number" maxlength="16" />
                        <input type="tel" name="expiration" class="expiration" placeholder="MM/YYYY" maxlength="9" />
                        <button type="submit">Save Card</button>
                    </form>
                    <div class="store-later">I will enter it later...</div>
                </div>
            </div>
        </script>
        <script id="venues-template" type="text/html">
            <div class="scroll">
                {% for venue in items %}
                <div id="{{ venue.uuid }}" title="{{ venue.shortName }}" class="venue">
                    <div class="image"></div>
                    <div class="title">{{ venue.shortName }}</div>
                    <div class="address">{{ venue.address.streetNumber }} {{ venue.address.streetName }} ({{ venue.address.hoodName }})</div>
                    <div class="arrow"></div>
                </div>
                {% endfor %}
            </div>
        </script>
        <script id="categories-1-template" type="text/html">
            <div class="scroll">
                <div class="header">
                    <div class="bar"></div>
                    <div class="text">14 Country Club Ln | New Albany, OH</div>
                </div>
                {% for category in items %}
                <div id="{{ category.uuid }}" class="category">
                    <div class="icon {{ category.name }}"></div>
                    <div class="title">{{ category.name }}</div>
                    <div class="arrow"></div>
                </div>
                {% endfor %}
            </div>
        </script>
        <script id="products-template" type="text/html">
            <div class="scroll">
                {% for product in items %}
                <div class="products" id="{{ product.uuid }}">
                    <span class="arrow"></span>
                    <div class="title">{{ product.name }}</div>
                    <div class="price">${{ product.price }}</div>
                </div>
                {% endfor %}
            </div>
        </script>
        <script id="product-template" type="text/html">
            <div class="scroll">
                <div class="wrapper">
                    <div class="product" id="{{ product.uuid }}">
                        <div class="title">{{ product.name }}</div>
                        <div class="description">{{ product.description }} (${{ product.price }})</div>
                        <form>
                            <textarea name="message" placeholder="Do you have any special requests?" rows="3" autocomplete="off"></textarea>
                            <button class="subtract"></button>
                            <span class="value">0</span>
                            <button class="add"></button>
                            <button class="submit">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </script>
        <script id="checkout-template" type="text/html">
            <div class="scroll">
                <div class="wrapper">
                    <div class="cart row bold">
                        <span class="title">Product (Qty)</span>
                        <span class="value">Price</span>
                    </div>

                    <!--Just for testing purposes...-->
                    <div class="cart row">
                        <span class="title">Blueberries (1)</span>
                        <span class="value">$0.00</span>
                    </div>
                    <div class="cart row">
                        <span class="title">Strawberries (2)</span>
                        <span class="value">$0.00</span>
                    </div>
                    <div class="cart row">
                        <span class="title">Raspberries (5)</span>
                        <span class="value">$0.00</span>
                    </div>

<!--
                    {% for item in cart.items %}
                    {% set product = cart.products[loop.key] %}
                    <div class="cart row" id="{{ product.uuid }}">
                        <span class="title">{{ product.name }} ({{ product.quantity }})</span>
                        <span class="value">{{ product.price }}</span>
                    </div>
                    {% endfor %}
-->
                    <div class="squiggle"></div>
                    <div class="subtotal row">
                        <span class="title">Subtotal:</span>
                        <span class="value">$0.00</span>
                    </div>
                    <div class="discount row green">
                        <span class="title">Discount:</span>
                        <span class="value">$0.00</span>
                    </div>
                    <div class="gratuity row">
                        <span class="title">Tip (20%)</span>
                        <span class="value">$0.00</span>
                    </div>
                    <div class="total row">
                        <span class="title">Total:</span>
                        <span class="value">$0.00</span>
                    </div>
                    <div class="message">100% of your tip goes to your Flowtab runner.</div>
                    <form>
                        <button type="submit">Place Order</button>
                    </form>
                </div>
            </div>
        </script>
        {% endraw %}
        <script type="text/javascript" src="/script/Zepto.js"></script>
        <script type="text/javascript" src="/script/Zepto.jQTouch.js"></script>
        <script type="text/javascript" src="/script/Lodash.js"></script>
        <script type="text/javascript" src="/script/Swig.js"></script>
        <script type="text/javascript" src="/script/Swiper.js"></script>
        <script type="text/javascript" src="/script/Stripe.js"></script>
        <script type="text/javascript" src="/script/Flowtab.js"></script>
        <script type="text/javascript" src="/script/Flowtab.framework.js"></script>
        <script type="text/javascript" src="/script/Flowtab.wallet.js"></script>
        <script type="text/javascript" src="/script/Flowtab.wallet.Cart.js"></script>
    </body>
</html>