<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<title>Flowtab</title>
		<link type="text/css" rel="stylesheet" href="/stylesheet/style.css">
	</head>
	<body>
		<div id="spinner-wrap">
			<div id="spinner-box">
				<div class="spinner">
					<div class="bar1 spin-bars"></div>
					<div class="bar2 spin-bars"></div>
					<div class="bar3 spin-bars"></div>
					<div class="bar4 spin-bars"></div>
					<div class="bar5 spin-bars"></div>
					<div class="bar6 spin-bars"></div>
					<div class="bar7 spin-bars"></div>
					<div class="bar8 spin-bars"></div>
					<div class="bar9 spin-bars"></div>
					<div class="bar10 spin-bars"></div>
					<div class="bar11 spin-bars"></div>
					<div class="bar12 spin-bars"></div>
				</div>
			</div>
		</div>
		<div id="topbar" class="black">
    		<div id="topbar-left-nav" class="black"></div>
    		<h1 id="topbar-title" class="black"></h1>
    		<div id="topbar-right-nav" class="black"></div>
		</div>
		<div class="bottombar"><div class="checkout-btn">Checkout</div></div>
		<div id="jqt" class="touchscroll">
			<div id="welcome" class="view">
				<div id="welcome-text"></div>
				<div id="welcome-shade"></div>
				<div id="welcome-bar"></div>
            	<div id="signin-btn"></div>
                <div id="signup-btn"></div>
			</div>
			<div id="sign-up" class="view">
        		<div class="scroll">
            		<div id="sign-up-wrap">
        				<form id="sign-up-form">
            				<div id="sign-up-photo"></div>
            				<div id="sign-up-disclaimer">Your cell number will only be used to send you order status notifications.</div>
            				<input id="sign-up-first-name" class="sign-up-input" placeholder="First name">
            				<input id="sign-up-last-name" class="sign-up-input" placeholder="Last name">
            				<input id="sign-up-cell" class="sign-up-input numeric" placeholder="Cell number" maxlength="10">
            				<input id="sign-up-email" class="sign-up-input" placeholder="Email address">
            				<input id="sign-up-password" class="sign-up-input numeric" type="tel" placeholder="Create 4-digit PIN" maxlength="4">
            				<input id="sign-up-submit" class="sign-up-input" type="submit" value="Sign Up">
        				</form>
            		</div>
        		</div>
			</div>
			<div id="sign-in" class="view">
    			<div class="scroll">
            		<div id="sign-in-wrap">
        				<form id="sign-in-form">
            				<div id="sign-in-info">To reset your PIN enter your cell number only and hit <em>Forgot Password</em>.</div>
            				<input id="sign-in-cell" name="name" class="sign-in-input numeric" placeholder="Cell number" maxlength="10">
            				<input id="sign-in-password" name="password" class="sign-in-input numeric" type="tel" placeholder="Enter PIN" maxlength="4">
            				<input id="sign-in-submit" type="submit" value="Sign In">
            				<input id="forgot-password" type="submit" value="Forgot Password">
        				</form>
            		</div>
        		</div>
			</div>
			<div id="save-credit-card" class="view"></div>
			<div id="venues" class="view"></div>
			<div id="categories-1" class="view"></div>
			<div id="categories-2" class="view"></div>
			<div id="products" class="view"></div>
			<div id="product" class="view"></div>
			<div id="checkout" class="view">
				<button class="purchase-button greenButton">Place Order</button>
			</div>
			<div id="confirmation" class="view">
				<button class="categories grayButton">Done</button>
			</div>
			<div id="configuration" class="view">
				<div class="toolbar">
					<h1>Configuration</h1>
					<a class="back">Back</a>
				</div>
				<div class="scroll">
					<ul>
						<li>Cards</li>
						<li>Account Settings</li>
						<li>How it Works</li>
						<li>Security Information</li>
						<li>Share this Shit</li>
					</ul>
				</div>
			</div>
			<div id="account" class="view">
				<div class="toolbar">
					<h1>Account</h1>
					<a class="back">Back</a>
				</div>
				<form>
					<button type="submit" class="greenButton">Update</button>
				</form>
			</div>
			<div id="about-how-it-works" class="view">
				<div class="toolbar">
					<h1>About</h1>
					<a class="back">Back</a>
				</div>
				<!-- TODO: static content -->
			</div>
			<div id="about-security" class="view">
				<div class="toolbar">
					<h1>About</h1>
					<a class="back">Back</a>
				</div>
				<!-- TODO: static content -->
			</div>
			<div id="share" class="view">
				<div class="toolbar">
					<h1>About</h1>
					<a class="back">Back</a>
				</div>
				<!-- TODO: static content -->
			</div>
		</div>
		<script id="save-credit-card-template" type="text/html">
    		<div class="scroll">
                <div id="stripe-wrap">
                    <div class="card-brands"></div>
                    <div class="stored-card"></div>
                    <form id="stripe-checkout-form">
                        <input type="tel" class="cc-number" placeholder="Card number" maxlength="16">
                        <input type="tel" class="cc-exp" placeholder="MM/YYYY" maxlength="9">
                        <input type="submit" id="stripe-save" value="Save Card">
                    </form>
        			<div class="ssl-text"><span class="ssl-icon"></span>Your connection to Flowtab is secured with a 128-bit encryption (AES-256).</div>
        			<div class="powered"></div>
        			<div class="store-later">I will enter it later...</div>
                </div>
    		</div>
		</script>
		<script id="venues-template" type="text/html">
    		<div class="scroll">
    			<ul class="page-wrapper">
    				{% for venue in items %}
        				<li id="{{ venue.id }}" class="venue">
            				<div class="venue-thumb"></div>
        					<div class="venue-title">{{ venue.fullName }}</div>
        					<div class="venue-address">{{ venue.address.streetNumber }} {{ venue.address.streetName }} ({{ venue.address.hoodName }})</div>
        					<div class="venue-arrow"></div>
        				</li>
    				{% endfor %}
    			</ul>
    		</div>
		</script>
		<script id="categories-1-template" type="text/html">
    		<div class="scroll">
        		<div class="venue-header">
            		<div class="venue-header-bar"></div>
            		<div class="venue-header-text">14 Country Club Ln | New Albany, OH</div>
        		</div>
    			<ul class="page-wrapper">
    				{% for category in items %}
        				<li id="{{ category.id }}" class="category">
            				<div class="category-icon {{ category.name }}"></div>
            				<div class="category-title">{{ category.name }}</div>
            				<div class="category-arrow"></div>
                        </li>
    				{% endfor %}
    			</ul>
    		</div>
		</script>
		<script id="products-template" type="text/html">
    		<div class="scroll">
    			<ul class="page-wrapper">
    				{% for products in items %}
        				<li id="{{ products.id }}" class="product">
            				<div class="product-title">{{ products.name }}</div>
            				<div class="product-price">{{ products.price }}</div>
            				<div class="product-description">{{ products.description }}</div>
        				</li>
    				{% endfor %}
    			</ul>
    		</div>
		</script>
		<script id="product-template" type="text/html">
    		<!-- TODO: Make Swig template for this... -->
    		<div class="scroll">
        		<div class="product-wrap">
    				<div class="product-title">Lamb Special</div>
    				<div class="product-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</div>
    				<div class="product-price-wrap">
        				<div class="product-price">
                    </div>
    				<form class="add-to-cart-form">
        				<textarea class="special-requests" placeholder="Do you have any special requests?" rows="3" autocomplete="off"></textarea>
        				<div class="counter-minus"></div>
        				<input class="counter-num" value="0">
        				<div class="counter-plus"></div>
        				<button class="add-to-cart">Add to Cart</button>
    				</form>
        		</div>
    		</div>
		</script>
		<script type="text/javascript" src="/script/Zepto.js"></script>
		<script type="text/javascript" src="/script/Zepto.jQTouch.js"></script>
		<script type="text/javascript" src="/script/Lodash.js"></script>
		<script type="text/javascript" src="/script/Swig.js"></script>
		<script type="text/javascript" src="/script/Swiper.js"></script>
		<script type="text/javascript" src="/script/Stripe.js"></script>
		<!-- <script type="text/javascript" src="/script/jquery.payment.js"></script> -->
		<script type="text/javascript" src="/script/Flowtab.js"></script>
		<script type="text/javascript" src="/script/Flowtab.framework.js"></script>
		<script type="text/javascript" src="/script/Flowtab.wallet.js"></script>
	</body>
</html>